.gallery {
  display: flex;
  flex-wrap: wrap;
}

.info {
  display: flex;
}

.photo-card {
  flex-basis: calc((100% - 15px * 3) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.photo-card:not(:nth-child(4n)) {
  margin-right: 15px;
}

.photo-card:not(:nth-last-child(-n + 4)) {
  margin-bottom: 15px;
}

.photo-card__img {
  max-width: 100%;
  object-position: center;
}
